<header>
  <h1>Angular Post Basics</h1>
  <nav>
    <a href="/">BAD home link 😕</a><br>
    <a href="/forms">BAD forms link 😕</a><br>
    <!-- these are the good links -->
    <a [routerLink]="['']">GOOD home link 😎</a><br>
    <a [routerLink]="['forms']">GOOD forms link 😎</a><br>
    <a [routerLink]="['contacts']">Contacts</a><br>
  </nav>
</header>


<!-- this is kind of like the <%= body %> in EJS layout -->
<router-outlet></router-outlet>




<footer>
  <p>made with 💪 by David A.</p>
</footer>
